.app-wrapper {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: minmax(auto, 80px) 1fr;
  /* gap: 10px; */
  width: 1200px;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgb(202, 196, 196);
}
